.search-bar-wrapper {
  padding-left: 25px;
}

.search-bar {
  position: fixed; /* Position the search bar fixed relative to the viewport */
  top: 0; /* Position it at the top of the viewport */
  left: 275px; /* Align it to the left edge of the viewport */
  width: 95%; /* Take up 100% of the viewport width */
  z-index: 999; /* Ensure it appears above other content */
  padding: 10px; /* Add padding for better visual appearance */
  box-sizing: border-box;
}

.search-input {
  width: calc(100% - 375px); /* Adjust the input width as needed */
  padding: 8px; /* Add padding */
  border: 1px solid #ccc; /* Border */
  border-radius: 10px; /* Border radius */
  font-size: 16px; /* Font size */
  background-color: #107CB2;
  color: #FFF;
}
  
.search-input:focus {
  outline: none;
  border-color: #107CB2;
}

.search-button {
  background-color: #051926;
  color: white;
  padding: 8px 20px;
  margin-left: 10px;
  border: 1px solid #107CB2;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #107CB2;
}