.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px; /* Default width */
  min-width: 150px; /* Minimum width */
  max-width: 150px;
  background-color: #051926;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: width 0.3s ease; /* Added width transition */
  z-index: 1000;
}

.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 20px;
}

.navbar-logo-image {
  max-width: 120px;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-links {
  color: #1178AD;
  text-decoration: none;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}

.navbar-link-image {
  max-width: 120px;
}

.btn-outline {
  color: #051926;
  border: 1px solid #107CB2;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #107CB2;
  color: #107CB2;
}
/*
@media screen and (max-width: 960px) {
  .navbar {
      width: 100%; 
      min-width: 150px;
  }

  .navbar-logo {
      margin-bottom: 40px;
  }

  .nav-links {
      margin-bottom: 30px;
  }
}
*/