.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Default width */
  min-width: 100px; /* Minimum width */
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  transition: width 0.3s ease; /* Added width transition */
  z-index: 1000;
}

.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 20px;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-outline {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #fff;
  color: #333;
}

@media screen and (max-width: 960px) {
  .navbar {
      width: 100%; /* Change width to percentage */
      min-width: 100px;
  }

  .navbar-logo {
      margin-bottom: 40px;
  }

  .nav-links {
      margin-bottom: 30px;
  }
}