body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: flex;
    margin: 0;
}

.container {
    background-image: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-family: 'Roboto';
    color: #107CB2;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #107CB2;
    border-radius: 4px;
    font-size: 16px;
}

.upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #051926;
    color: #107CB2;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}



.upload-button:hover {
    background-color: #107CB2;
    color: #051926;
}

